#dock {
	background: none;
	border: none;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	height: $dock-height;
	position: fixed;
		left: 0;
		right: 0;
		top: 0;
	z-index: 9;

	@media ( min-width: 768px ) {
		margin-left: 320px;
	}

	.versionSelector.left {
		display: none;

		@media ( min-width: 960px ) {
			display: inline-block;
		}
	}

	.versionSelector.right {
		@media ( max-width: 480px ) {
			width: 100px;
		}
	}


	select {
		font-family: 'Helvetica Neue';
		font-weight: 100;
	}
	select, input {
		vertical-align: middle;
	}
	.heading-wrapper {
		font-size: 160%;
		line-height: 1.8em;
		text-align: center;
		#goToReference {
			max-width: 175px;
		}
	}
	&.input {
		.lookup {
			display: none;
		}
		#goToReference {
			display: inline;
		}
	}
	&.select {
		.lookup {
			display: inline;
		}
		#goToReference {
			display: none;
		}
	}
	.reading-mode-version {
		display: inline;
	}
	.goToReference {
		background: transparent;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
//		box-shadow: 0 0 10px rgba(0, 0, 0, .3);
		display: inline-block;
		padding: 0 10px;
	}
}