// popups
.popup {
	background: rgba(255, 255, 255, .5);
	display: none;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
	.content {
		background: #fff;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		border: 1px solid #ccc;
		border-top: none;
		margin: 0 auto;
		overflow: auto;
		padding: 1em;
		position: relative;
		width: 320px;
		.content-padding {
			h2, input, a {
				font-family: 'Helvetica Neue';
				font-weight: 100;
			}
			ul {
				margin: 0 0 1em 1em;
			}
			.search ul {
				margin: 0;
			}
		}
		input[type=submit],
		input[type=text] {
			text-indent: .5em;
			width: 100%;
		}
		.close-popup {
			color: #ccc;
			padding: 1em;
			position: absolute;
			right: 0;
			top: 0;
		}
		.close-popup:hover {
			color: #000;
		}
	}
	.advanced {
		display: block;
		margin-top: 1em;
		text-align: center;
		a {
			color: #999;
		}
	}
}