.referencePanel {
	margin: $dock-height 40px 0 70px;
	@media ( min-width: 768px ) {
		margin: $dock-height 0 0 320px;
	}

	dvnnm {text-transform: uppercase;}
	#verse {
		ol {
			list-style: none;
		}

		li {
			position: relative;
		}

		// Bookmarker
		.bookmarker {
			display: none;
			cursor: pointer;
			position: absolute;
				top: 2px;
				left: -20px;
		}
		li:hover {
			.bookmarker {
				display: block;
			}
		}

		.loading {
			padding: 1em;
			text-align: center;
		}
	}

	.hebrew.original {
		direction: rtl;
		font-family: 'Times New Roman', Times serif;
		font-size: 140%;
		line-height: 1em;
		text-align: right;
		span.word { margin: 0 2px; }
	}

	.right { width: 95%; padding: 0 2%; }
	.left { display: none; }

	@media ( min-width: 960px ) {
		#verse ol li {
			margin: 0 0 0 50%;
			.wrapper {
				margin-left: -100%;
				width: 200%;
				.right { float: right; width: 45%; padding: 0 2%; }
				.left { display: block; float: left; padding: 0 4% 0 2%; width: 43%; }
			}
		}
	}


	.verse .wrapper { display:inline-block; vertical-align:top; }
}

.verse-number {
	color: #aaa;
}
.hebrew.original .verse-number {
	color: #aaa;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}
