dvnnm {
  text-transform: uppercase;
}
.added,
.dwyer-added {
  color: #bbb;
  font-weight: 300;
  text-shadow: none;
}
.ui-page {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ui-content {
  overflow: hidden;
}
/*.ui-content,
.ui-page {
	height: 100%;
}*/
.ui-header .ui-controlgroup,
.ui-header fieldset.ui-controlgroup {
  margin: 0;
}
.ui-popup {
  padding: 0.1em 1em;
}
.panel {
  height: 100%;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.panel h3 {
  margin: 0;
}
.panel .ui-collapsible-set {
  margin: 0;
}
.panel .ui-collapsible-content {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.panel .ui-collapsible-content .ui-controlgroup-horizontal {
  margin: 0;
  padding: 0;
}
#results {
  right: 0;
  width: 250px;
}
#results .collapsible-wrapper {
  position: relative;
}
#results .word-list {
  margin: 0;
}
#results .word-list .ui-listview {
  margin: 0;
}
#results .ui-collapsible {
  background: #f6f6f6;
  -moz-box-shadow: inset -3px -3px 12px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -3px -3px 12px rgba(0, 0, 0, 0.3);
  box-shadow: inset -3px -3px 12px rgba(0, 0, 0, 0.3);
}
#results .ui-collapsible .ui-collapsible-heading.transparent .ui-collapsible-heading-toggle {
  background: none;
  border: none;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  text-ahadow: inherit;
}
#results .ui-collapsible .ui-collapsible-content ol {
  max-height: 260px;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}
#results .ui-collapsible .ui-collapsible-content ol li {
  color: #ccc;
  list-style-position: inside;
  text-indent: 10px;
}
#results .ui-collapsible .ui-collapsible-content ol li:hover {
  background: white;
}
#results .ui-collapsible .ui-collapsible-content ol li a {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  color: #000;
  display: block;
  line-height: 2em;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
}
#results .ui-collapsible .ui-collapsible-content ol li a.ui-btn-active {
  border-color: transparent;
  color: #fff;
  font-weight: normal;
  text-shadow: 1px 1px 0 #000;
}
#results .ui-collapsible .ui-collapsible-content ol .ui-listview {
  margin: 0;
}
#results .controlgroup {
  position: absolute;
  right: 5px;
  top: -2px;
}
#results .controlgroup .ui-li-count {
  right: 30px;
}
#results .controlgroup a.ui-btn {
  float: right;
  height: 24px;
  margin-left: 4px;
  position: relative;
  width: 24px;
  z-index: 9999;
}
#results .controlgroup a.ui-btn .ui-btn-inner {
  padding: 0 !important;
}
.ui-content {
  padding: 0;
  position: relative;
}
/*
html {
	display: none;
	&.ui-mobile {
		display: block;
	}
}*/
.hebrew {
  font-family: 'Times New Roman', Times serif;
  font-size: 1.3em;
  line-height: 1em;
  text-align: right;
}
.translation,
.original {
  padding: 0 1em;
}
.word {
  border-radius: 3px;
  margin: -2px;
  padding: 2px;
  text-decoration: none;
}
.ui-grid-a,
.ui-grid-b,
.ui-grid-c,
.ui-grid-d {
  overflow: visible;
}
.hebrew a {
  padding: 0 5px;
}
.ui-icon-book {
  background-image: url(images/icon-book-white.png);
}
#reference .sticky-panel-wrapper {
  height: 66px;
}
#reference .sticky-panel-wrapper h2 {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 0;
  padding: .8em 0;
}
#reference ol.wrapper {
  margin: 0;
  padding: 0;
}
#reference ol.wrapper li {
  margin-left: 50%;
}
#reference ol.wrapper li.current-verse div.ui-grid-a {
  background: rgba(255, 255, 255, 0.9);
  outline-left: 1em solid rgba(255, 255, 255, 0.9);
  outline-right: 1em solid rgba(255, 255, 255, 0.9);
}
#reference ol.wrapper .ui-grid-a {
  display: inline-block;
  vertical-align: top;
  margin-left: -100%;
  width: 200%;
}
#reference ol.wrapper .original {
  padding-right: 2em;
}
#reference ol.wrapper .greek {
  padding-right: 2.2em;
}
#reference #wordDetails {
  font-weight: normal;
}
#reference #wordDetails h3 {
  margin: 0;
}
#reference #wordDetails .content {
  overflow: hidden;
}
#reference #wordDetails .word-details-inner {
  float: left;
  padding: 1em 0;
  width: 600px;
}
#reference #wordDetails .word-details-inner h3 {
  padding: .5em 1em;
}
.chapter-wrapper {
  position: relative;
}
#about .ui-collapsible-set {
  width: 350px;
}
.ui-popup-container h3 {
  margin: 0;
}
.ui-popup-container .ui-collapsible-set {
  margin: 0;
}
.ui-popup-container .ui-collapsible-content {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.ui-popup-container .ui-collapsible-content .ui-controlgroup-horizontal {
  margin: 0;
  padding: 0;
}
.desktop-button {
  display: none;
}
@media (min-width: 1000px) {
  #reference-panel {
    padding: 42px 0 0 0;
  }
  #bookList-popup,
  #results-popup {
    bottom: 0;
    padding: 0;
    top: 42px;
    position: fixed;
    width: 270px;
  }
  #bookList-popup .ui-popup,
  #results-popup .ui-popup {
    border-radius: 0;
    height: 100%;
    overflow: auto;
  }
  #bookList-popup .close,
  #results-popup .close {
    display: none;
  }
  #results-popup {
    width: 250px;
  }
  .mobile-button {
    display: none;
  }
  .desktop-button {
    display: block;
  }
}
#bookList-popup .ui-popup,
#results-popup .ui-popup {
  padding: 0;
}
/*results*/
#results-popup {
  left: auto;
  right: 0;
}
/*books*/
#bookList-popup {
  left: 0;
}
#bookList .ui-collapsible-content .ui-controlgroup-controls {
  display: block;
}
#bookList .ui-collapsible-content .ui-btn {
  border-radius: 0;
  margin: -1px -1px 0 -1px;
  width: 10.33%;
}
#bookList .ui-collapsible-content .ui-btn .ui-btn-inner {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
#bookList .ui-collapsible-content .ui-btn.three-digit {
  width: 20%;
}
@media (max-width: 1000px) {
  #bookList {
    overflow: visible;
    width: 320px;
  }
  #bookList .ui-collapsible-set {
    max-height: 320px;
    overflow-y: auto;
  }
}
/*reference*/
@media (min-width: 1000px) {
  .reference {
    margin-left: 270px;
    margin-right: 250px;
  }
}
#grammar h1 {
  text-align: center;
}
#grammar table {
  border-collapse: collapse;
  width: 400px;
}
#grammar table td {
  border: 1px solid #000;
  text-align: left;
}
