* { border: none; box-sizing: border-box; margin: 0; padding: 0; }

:root {
  --background: #ffffff;
  --background-ui: rgb(230,230,230);
	--color: #000000;
	--mid: #7f7f7f;
  --shadow: rgb( 0, 0, 0, 0.15);
  --hover: rgba( 215, 245, 245, 1 );
  --active: rgba( 215, 245, 245, .5 );

}

@media ( prefers-color-scheme: dark ) {
	:root {
    --background: #333333;
    --background-ui: rgb(0,0,0);
		--color: #ffffff;
    --shadow: rgb( 255, 255, 255, 0.15);
    --hover: rgba( 15, 45, 45, 1 );
    --active: rgba( 215, 245, 245, .3 );
	}
}

html {
  font-size: 140%;
}

body {
	background: var(--background);
	color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

a {
  color: var(--color);
  cursor: pointer;
}

.added {
  color: var(--mid);
  font-style: italic;
}

.full-page {
  background: var(--background);
  padding-top: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  padding: 1em;
  text-align: center;
  z-index: 10; }
  .full-page .content {
	font-weight: 300;
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 100%;
	max-width: 320px; }
.full-page .content p {
  text-align: left;
}
	.full-page .content .logo {
	  overflow: auto;
	  position: relative;
	  text-align: center; }
	  .full-page .content .logo h1 {
		font-size: 2.4rem;
		font-weight: 100; }
	.full-page .content .features {
	  margin-top: 1em; }
	  .full-page .content .features ul {
		list-style: disc;
		margin: 0 0 1em 1em; }
	  .full-page .content .features p {
		margin-bottom: 1rem; }
	.full-page .content .button {
	  margin: 1em 0;
	  text-align: center; }
	  .full-page .content .button .installation-info {
		margin-top: 1rem; }
	  .full-page .content .button button {
		background: #333;
		cursor: pointer;
		padding: .5rem 1rem; }
    input[disabled] {
      background: #eee;
      color: #ccc;
    }
		.full-page .content .button button[disabled] {
		  background: #ccc; }
.full-page .loading {
  background: darkgray;
  color: #fff;
  line-height: 2em;
  margin-top: 1em;
  text-indent: .5em;
}

.full-page .loading-bar {
  background: gray;
  white-space: nowrap;
  width: 5%;
}

.errors {
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
  text-align: center;
}

.dvnNm {
  text-transform: uppercase;
}

#notification {
  background: #666;
  color: #eee;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2em;
  text-align: center;
  z-index: 999;
}

#notification a {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.single {
  margin: 0 -1px;
  padding: 0 1px;
}

.single:hover {
  cursor: pointer;
}

.search-select {
  cursor: crosshair;
}
.search-select .single:hover {
  cursor: crosshair !important;
}

label.has-placeholder {
	display: none;
}
