$dock-height: 50px;
* {border:none;margin:0;padding:0;}

@import 'fonts';

body {background:#fff;color:#000;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; }
a{text-decoration: none;}
.trans-change.added { font-style: italic;}
.current {
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
div#tabs {float:left}
.selects{overflow:hidden;}
.selects select {float:left;}
.selects select{height:100%;}
ul li.current {background:#cceeff;}

body > .wrapper { height: 0;}

.disable-hover {
  pointer-events: none;
}

.panel .heading {height:10%;}
.verse {color: #000;}
.verse .added, transchange {color:#aaa; font-style: italic;}
.verse {line-height:1.4em; }
.reference span {white-space: nowrap;}
.verse h1 {text-align: center; line-height: 150%; font-family: 'Helvetica Neue'; font-weight: 100; }
span, a.word-tree {margin: 0 -2px; padding: 0 2px; position: relative; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;}
.reference span:hover {
	background: #eff;
}
.reference span.dwyer-added:hover,
.reference span.added:hover {
	background:none;
}
#verse.isolate {
	color: #999;
}
#verse.isolate ol li span {
	background: none;
	color: #999;
}

.selectWrapper {position:absolute;left:0;top:0;}
.selectWrapper select {border-bottom:1px solid #333;}
ul.bookSelect {margin:0 0 0 5px; width:96px}
ul.chapterSelect {margin:0 0 0 5px; width:34px;}
ul.verseSelect {margin:0 0 0 5px; width:35px;}
.yahweh {text-transform:uppercase;}
.selects, .details {float:left; width: 200px;}
.panel {border-right:1px solid #666; height:100%;overflow:auto; position:relative;
	z-index: 9;
}

.goToPanel {
	h2 {
		background: #ccc;
		color: #666;
		font-weight: 100;
		height: $dock-height + 1;
		line-height: 2em;
		padding-left: .5em;
	}
	div {
		position: relative;
	}
	a {
	    border-bottom: 1px #ccc solid;
		color: #666;
		display: block;
		font-weight: 100;
		line-height: 2em;
		text-indent: 15px;
		white-space: nowrap;
		&[class*="icon-"] {
			border: none;
			display: inline;
			position: absolute;
			top: 0;
			right: 15px;
		}
	}
}

.bookSelect {
	.icon-book {
		position: absolute;
		top: 0;
		right: 0;
		padding: 13px;
	}
}

.panel .heading-wrapper {margin: 0 auto; text-align: center;}
.panel .heading {font-size: 2em; text-align: center; position: fixed; width: 300px;}
.panel .heading select {position:relative;z-index:1;}

form ul li {list-style:none;}

.references {clear:both;}
.references li {list-style-position: inside;}
#strongsTracking {float:right; width: 77px; }
#strongsTracking ul {float:right;padding: 0 10px 0 0; text-align:right;}
#strongsTracking li {list-style:none; padding: 7px 0; position:relative;}
#strongsTracking span, #strongsTracking a {padding:3px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;}
#strongsTracking .close {background:#999;color:#fff;-moz-border-radius:5px;display:none;line-height:13px;padding:0;position:absolute;right:-5px;text-align:center;top:0px;width:15px;height:15px;}
#strongsTracking li:hover .close {display:block;}

.collapsable h2 { background:#666 url(arrow.png) no-repeat top right;
    background:  url(arrow.png) no-repeat top right, -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(50,50,50)),
		color-stop(.49, rgb(90,90,90)),
		color-stop(.50, rgb(100,100,100)),
        color-stop(1, rgb(150,150,150))
    );
    background: url(arrow.png) no-repeat top right, -moz-linear-gradient(
        center bottom,
        rgb(50,50,50) 0%,
		rgb(90,90,90) 49%,
		rgb(100,100,100) 50%,
        rgb(150,150,150) 100%
    );
	border-bottom: 1px solid #666;
	color:#fff; cursor:pointer; font-size: 1.3em; font-weight:normal; padding:3px 5px;
}
.collapsable.closed h2 {
	background:#666 url(arrow.png) no-repeat bottom right;
	background: url(arrow.png) no-repeat bottom right, -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(140,140,140)),
        color-stop(1, rgb(190,190,190))
    );
    background: url(arrow.png) no-repeat bottom right, -moz-linear-gradient(
        center bottom,
        rgb(140,140,140) 0%,
        rgb(190,190,190) 100%
    );
}
.collapsable.closed form { display:none;}

#wordControlPanel {
	background: rgba( 255, 255, 255, .9 );
    box-shadow: 0 0 5px rgba(0,0,0,.5);
	bottom: 0;
	display: block;
	left: 201px;
	right: 201px;
	max-height: 200px;
	overflow: scroll;
	padding: .5rem;
	position: fixed;
	z-index:8;
	color: #000;
	.crossReferences {
		padding: .1em .5em;
	}

}


.wordControlPanelTemplate {display:none;}
.control-panel .duplicated {
	display: block;
	margin: 0 0 1em 0;
}
#wordControlPanel .word-details {
	float: left;
	width: 49%;
}
#wordControlPanel .definitions {
	float: left;
	width: 47%;
}
.top.left .control-panel {
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
}
.top.right .control-panel {
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}
.bottom.left .control-panel {
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
}
.bottom.right .control-panel {
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
}
.control-panel .definitions { font-style: italic;}
.control-panel .definitions-link {text-decoration:underline;}
.control-panel a {
	cursor: pointer;
}

.sticky{
	position:absolute;
	top: -50px;
	left: -50px;
	width: 100px;
	height: 100px;
}

.hide, .template {
	display: none;
}
note {
	border: 1px solid #acf;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #acf;
	display: none;
	width: 25px;
	height: 11px;
	line-height:12px;
	overflow: hidden;
	margin: 0 3px;
}
.show-notes note {
 display: inline-block;
}
note:before {
	content: 'note';
}
note:hover {
	border: 1px solid #acf;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #000;
	display: inline-block;
	width: 250px;
	height: 110px;
	line-height:12px;
	overflow: hidden;
	margin: 0 3px;
}
#colorSelector {
	display: inline-block;
}

dvnnm {text-transform: uppercase;}
#verse {
	.loading {
		padding: 1em;
		text-align: center;
	}
}
#verse ol li {margin: 0 0 0 20px;
  margin-left: 50%;
}
#verse ol li .wrapper {
	margin-left: -100%;
	width: 200%;
}

.hebrew { direction: rtl; display: none; font-size: 140%;
  font-family: 'Times New Roman', Times serif;
  line-height: 1em;
  text-align: right;
}
.english { float: right; width: 45%; padding: 0 2%; }
.original { display: block; float: left; padding: 0 4% 0 2%; width: 43%; }
.hebrew span { margin: 0 2px; }
.hebrew seg {display:none;}

.verse .wrapper { display:inline-block; vertical-align:top; }

@import 'popups';

// Forms
input, select {
	border: none;
	border-radius: 5px;

    box-shadow: inset 0 0 1px #000,
                inset 0 1px 0 rgba(0, 0, 0, .1),
                0 1px 1px -1px rgba(0, 0, 0, .5);

	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 2em;
	height: 2em;
}
input {
	text-indent: .5em;
	width: 100%;
}
input[type=checkbox] {
	box-shadow: none
}
label.has-placeholder{ display: none; }
button, input[type=button], input[type=submit] {
	border: none;
	box-shadow: none;
	background:#999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	color: #fff;
	font-family: 'Helvetica Neue';
	font-weight: 100;
}
form input[type=checkbox] {
	height: 20px;
	width:20px;
}

// Search form
form.search {
	li {
		line-height: 3em;
	}
	#advanced {
		display: none;
	}
}
#currentRef {
	background: #eee;
}

@import 'dock';

.referencePanel {
	margin: $dock-height 200px 0;
	.wordControlPanel {
		clear: both;
		.close {
			color: #000;
			height: 18px;
			line-height: 1em;
			position: absolute;
			top: 0;
			right: 0;
			padding: 5px;
			width: 18px;
			text-align: center;
		}
	}
}
.goToPanel, .searchPanel {
	background: #fff;
	bottom: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 10;
}
.goToPanel {
	border-right: 1px solid #ccc;
	left: 0;
}
.searchPanel {
	border-left: 1px solid #ccc;
	float: right;
	padding-top: 4.7em;
	right: 0;
	form.search {
		background: #ccc;
		padding: .1rem .5rem .5rem;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		input {
			border: none;
			color: #000;
			font-family: 'Helvetica Neue';
			font-weight: 100;
		}
		.advanced {
			line-height: 1em;
			text-align: center;
			a {
				color: #333;
			}
		}
	}
	h2 {
		border: none;
		font-family: 'Helvetica Neue';
		font-weight: 100;
		position: relative;
		.remove {
			font-size: 20px;
			opacity: .8;
			position: absolute;
			top: 5px;
			right: 5px;
		}
		.remove:hover {
			opacity: 1;
		}
	}
	ol li {
		color: #ddd;
		line-height: 1.5em;
		padding-left: .5em;
		a {
			color: #000;
			display: inline-block;
		}
	}
}
.reading-mode {
	.dock {
		background: none;
		border: none;
		nav {
			display: none;
		}
		.reading-mode-version {
			display: inline;
		}
		.goToReference {
			background: #fff;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, .3);
			display: inline-block;
			padding: 3px 10px 10px;
		}
	}
	.goToPanel, .searchPanel, .popup, #wordControlPanel, .original {
		display: none !important;
	}
	.referencePanel {
		font-size: 2em;
		margin: 0 9%;
	}
	#verse ol {
		counter-reset: verse;
		li {
			display: inline;
			margin: 0 !important;
			line-height: 1.8em;
			.original, .english, .wrapper {
				display: inline;
				float: none;
				margin: 0;
				padding: 0;
				width: auto;
				span {
					margin: 0 -6px;
					padding: 0 6px;
				}
			}
		}
		li:before {
			content: counter( verse );
			counter-increment: verse;
			font-size: 10px;
			line-height: 4;
			padding-right: .5em;
			vertical-align: top;
		}
	}
	#current {
		background: none;
	}
	&.read-original {
		.original {
			display: inline !important;
		}
		.english {
			display: none !important;
		}
	}
	.reading-mode-switch.icon-book {
		display: block;
	}
}

@import 'loading-screen';

.reading-mode-switch {
	font-size: 14px;
	position: fixed;
	right: 214px;
	top: 24px;
	line-height: 0;
	z-index: 9;
	&.icon-fullscreen-exit {
		font-size: 22px;
		right: 14px;
	}
	&.icon-book {
		display: none;
		font-size: 26px;
		right: 50px;
	}
}
#settings-popup {
	ul {
		margin: 0;
	}
	label {
		display: inline-block;
		line-height: 2em;
		margin-bottom: 1rem;
		width: 150px;
	}
	select {
		width: 150px;
	}
}