.bookmarks p {
	line-height: 2em;
	padding: 0 20px;
}

.title {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	letter-spacing: .02em;
	padding: 20px 20px 0 20px;
}

.bookmarksList {
	svg {
		vertical-align: middle;
	}

	a {
		display: block;
		line-height: 2em;
		padding: 0 20px;
		text-decoration: none;

		&:hover {
			background: lightblue;
		}
	}
}

.bookmark {
	position: relative;
}

.cancel {
	position: absolute;
	right: 0;
	top: 0;

	svg {
		cursor: pointer;
		height: 15px;
		vertical-align: middle;
		width: 15px;
	}
}
