@import '../colors.scss';

.bookmarks p {
	line-height: 2em;
	padding: 0 20px;
}

.title {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	letter-spacing: .02em;
	padding: 0 20px;
}

.bookmarksList {
	svg {
		vertical-align: middle;
	}

	.bookmark > a {
		line-height: 2em;
		padding: 0 10px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	a {
		text-decoration: none;
	}
}

.bookmark {
	position: relative;
}

.cancel {
	position: absolute;
	right: 0;
	top: 0;

	&:hover [fill] {
		fill: $text-hover;
	}
}
