* {border:none;margin:0;padding:0;}
body {color:#000;font-family:Arial, Helvetica, sans-serif; font-size: 0.8em;}
#verse {#999;}
span {color:#000; moz-border-radius: 3px;}
.trans-change.added { color: #ccc; font-style: italic;}
#current {background: #eee;}
div#tabs {float:left}
select {font-size:0.8em;}
select option {padding: 0 0 0 3px;}
.selects{overflow:hidden;}
.selects select,ul {float:left;}
.selects select{height:100%;}
ul li.current {background:#cceeff;}
.panel h1 {height:10%;}
#verse {height:90%; line-height:1.4em; overflow:auto; padding: 0 0 0 10px;}
/*#verse h1 {background:#fff;position:fixed; top:0; width:100%;}*/
#verse span {margin: 0 -2px; padding: 0 2px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
div#verse ol li {list-style-position: inside;}
.dynamic option{display:none}
.dynamic option.show{display:block}
.selectWrapper {position:absolute;left:0;top:0;}
.selectWrapper select {border-bottom:1px solid #000;}
ul.bookSelect {margin:0 0 0 5px; width:96px}
ul.chapterSelect {margin:0 0 0 5px; width:34px;}
ul.verseSelect {margin:0 0 0 5px; width:35px;}
.yahweh {text-transform:uppercase;}
.selects, .details {float:left; width: 147px;}
.panel {border-right:1px solid #666; height:100%;overflow:auto; position:relative;}
.selects{/*display: none;*/ overflow:hidden;width:auto;}
h1 {text-align: center;}
form {overflow:auto;padding:10px;}
form ul li {list-style:none;}
form label {float:left;}
form input, form select {border:1px solid #999; margin: 0 10px 10px 0; width: 90px;}
form input[type=checkbox]{width:20px;}
input#search {margin:0;}
#references {padding:10px;}
#references ol li {list-style-position: inside;}
#strongsTracking {float:right; width: 77px; }
#strongsTracking ul {float:right;padding: 0 10px 0 0; text-align:right;}
#strongsTracking li {list-style:none; padding: 7px 0; position:relative;}
#strongsTracking a {padding:3px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;}
#strongsTracking .close {background:#999;color:#fff;-moz-border-radius:5px;display:none;line-height:13px;padding:0;position:absolute;right:-5px;text-align:center;top:0px;width:15px;height:15px;}
#strongsTracking li:hover .close {display:block;}

h2 { background:#666; color:#fff; font-weight:normal; padding:3px 5px;}

ul.navigation {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
ul.navigation li {
	background:#666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color:#fff;
	cursor:pointer;
	list-style: none;
	margin: 5px;
	opacity:.8;
	padding: 5px;
}
ul.navigation li:hover { opacity:1;}
ul.navigation li.previous{float:left; /*left:0; position:fixed; bottom:0; */}
ul.navigation li.next{float:right; /*right:0; position:fixed; bottom:0; */}
.main-reference-lookup {
	height: 10%;
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 230px;
	z-index: 1;
}
.main-reference-lookup select {
}