@import '../colors.scss';

.fake-link {
	cursor: pointer;
	text-decoration: underline;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.word-block {
	padding: .5em;
}

.found-in-extra {
	color: #999;
	cursor: pointer;
	float: right;
	text-decoration: none;
}
