@import '../colors.scss';

.word-block-help {
	padding: .5em;
}

.fake-link {
	cursor: pointer;
	text-decoration: underline;
}

.visible {
	height: auto;
}

.hidden {
	height: 0;
	overflow: hidden;
}

.found-in-extra {
	color: #999;
	cursor: pointer;
	float: right;
	text-decoration: none;
}

.strongs-number-title {
	display: inline-block;
	margin-right: 15px;
}


// Duplicated from search block
.results {
	line-height: 1.4;
	list-style: none;

	a {
		display: block;
		padding-left: .5em;
		text-decoration: none;

		&:hover {
			background: $hover;
			color: black;
		}
	}
}
