@import '../colors.scss';

.word-block-help {
	padding: .5em;
}

.fake-link {
	cursor: pointer;
	text-decoration: underline;
}

.visible {
	height: auto;
}

.hidden {
	height: 0;
	overflow: hidden;
}

.found-in-extra {
	color: #999;
	cursor: pointer;
	float: right;
	text-decoration: none;
}

.strongs-number-title {
	display: inline-block;
	margin-right: 15px;
}
