<!DOCTYPE HTML>
<html manifest="javascripture.appcache">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="google" content="notranslate" />
		<title>Javascripture</title>
		<link rel="stylesheet" href="css/layout.css" />
		<style id="bodyFontFamily"></style>
		<style id="bodyFontSize"></style>
	</head>
	<body>
	<div id="dock" class="input">
		<div class="heading-wrapper">
			<form class="goToReference">
				<select name="leftVersion" id="versionSelectorLeft" class="versionSelector" data-target="left">
					<option value="original" selected>Original</option>
					<option value="kjv">KJV</option>
					<option value="web">WEB</option>
					<!--<option value="lc">Literal Consistent</option>-->
				</select>
				<input type="text" id="goToReference" placeholder="Go to reference" />
				<select id="bookSelect" class="lookup bookSelect" tabindex="1">
					<option></option>
					<option value="Genesis">Genesis</option>
					<option value="Exodus">Exodus</option>
					<option value="Leviticus">Leviticus</option>
					<option value="Numbers">Numbers</option>
					<option value="Deuteronomy">Deuteronomy</option>
					<option value="Joshua">Joshua</option>
					<option value="Judges">Judges</option>
					<option value="Ruth">Ruth</option>
					<option value="1 Samuel">1 Samuel</option>
					<option value="2 Samuel">2 Samuel</option>
					<option value="1 Kings">1 Kings</option>
					<option value="2 Kings">2 Kings</option>
					<option value="1 Chronicles">1 Chronicles</option>
					<option value="2 Chronicles">2 Chronicles</option>
					<option value="Ezra">Ezra</option>
					<option value="Nehemiah">Nehemiah</option>
					<option value="Esther">Esther</option>
					<option value="Job">Job</option>
					<option value="Psalm">Psalm</option>
					<option value="Proverbs">Proverbs</option>
					<option value="Ecclesiastes">Ecclesiastes</option>
					<option value="Song of Songs">Song of Songs</option>
					<option value="Isaiah">Isaiah</option>
					<option value="Jeremiah">Jeremiah</option>
					<option value="Lamentations">Lamentations</option>
					<option value="Ezekiel">Ezekiel</option>
					<option value="Daniel">Daniel</option>
					<option value="Hosea">Hosea</option>
					<option value="Joel">Joel</option>
					<option value="Amos">Amos</option>
					<option value="Obadiah">Obadiah</option>
					<option value="Jonah">Jonah</option>
					<option value="Micah">Micah</option>
					<option value="Nahum">Nahum</option>
					<option value="Habakkuk">Habakkuk</option>
					<option value="Zephaniah">Zephaniah</option>
					<option value="Haggai">Haggai</option>
					<option value="Zechariah">Zechariah</option>
					<option value="Malachi">Malachi</option>
					<option value="Matthew">Matthew</option>
					<option value="Mark">Mark</option>
					<option value="Luke">Luke</option>
					<option value="John">John</option>
					<option value="Acts">Acts</option>
					<option value="Romans">Romans</option>
					<option value="1 Corinthians">1 Corinthians</option>
					<option value="2 Corinthians">2 Corinthians</option>
					<option value="Galatians">Galatians</option>
					<option value="Ephesians">Ephesians</option>
					<option value="Philippians">Philippians</option>
					<option value="Colossians">Colossians</option>
					<option value="1 Thessalonians">1 Thessalonians</option>
					<option value="2 Thessalonians">2 Thessalonians</option>
					<option value="1 Timothy">1 Timothy</option>
					<option value="2 Timothy">2 Timothy</option>
					<option value="Titus">Titus</option>
					<option value="Philemon">Philemon</option>
					<option value="Hebrews">Hebrews</option>
					<option value="James">James</option>
					<option value="1 Peter">1 Peter</option>
					<option value="2 Peter">2 Peter</option>
					<option value="1 John">1 John</option>
					<option value="2 John">2 John</option>
					<option value="3 John">3 John</option>
					<option value="Jude">Jude</option>
					<option value="Revelation">Revelation</option>
				</select>
				<select id="chapterSelect" class="lookup dynamic chapterSelect" tabindex="2"></select>
				<select name="rightVersion" id="versionSelectorRight" class="versionSelector" data-target="right">
					<option value="original">Original</option>
					<option value="kjv" selected>KJV</option>
					<option value="web">WEB</option>
					<!--<option value="lc">Literal Consistent</option>-->
				</select>
			</form>
		</div>
	</div>

	<div class="referencePanel" id="reference">
		<span id="showGoToReference" class="reading-mode-switch icon-book"></span>
		<span id="readingMode" class="reading-mode-switch icon-fullscreen"></span>
		<div class="verse">
			<div id="verse">
				<div class="loading">Loading...</div>
			</div>
		</div>
	</div>

	<div id="wordDetailsPanel" class="menu left">
		<a href="#wordDetailsPanel" class="link-text open-menu" id="keyCode68" title="go to"><span aria-hidden="true" class="icon-details"></span> <span class="link-text">Word details</span></a>
		<div id="wordControlPanel" class="content">
			<style></style>
			<div class="control-panel content-padding">
				<div class="duplicated">Select a word to show more details about it here. Double click to search.</div>
			</div>
		</div>
	</div>


	<div class="goToPanel menu left" id="goToPanel">
		<a href="#goToPanel" class="link-text open-menu" id="keyCode71" title="go to"><span aria-hidden="true" class="icon-book"></span> <span class="link-text">Go to</span></a>
		<div class="lookup bookSelect">
			<a href="#reference=Genesis:1" data-chapters="50">Genesis <span class="chapter"></span></a>
			<a href="#reference=Exodus:1" data-chapters="40">Exodus <span class="chapter"></span></a>
			<a href="#reference=Leviticus:1" data-chapters="27">Leviticus <span class="chapter"></span></a>
			<a href="#reference=Numbers:1" data-chapters="36">Numbers <span class="chapter"></span></a>
			<a href="#reference=Deuteronomy:1" data-chapters="34">Deuteronomy <span class="chapter"></span></a>
			<a href="#reference=Joshua:1" data-chapters="24">Joshua <span class="chapter"></span></a>
			<a href="#reference=Judges:1" data-chapters="21">Judges <span class="chapter"></span></a>
			<a href="#reference=Ruth:1" data-chapters="4">Ruth <span class="chapter"></span></a>
			<a href="#reference=1 Samuel:1" data-chapters="31">1 Samuel <span class="chapter"></span></a>
			<a href="#reference=2 Samuel:1" data-chapters="24">2 Samuel <span class="chapter"></span></a>
			<a href="#reference=1 Kings:1" data-chapters="24">1 Kings <span class="chapter"></span></a>
			<a href="#reference=2 Kings:1" data-chapters="25">2 Kings <span class="chapter"></span></a>
			<a href="#reference=1 Chronicles:1" data-chapters="29">1 Chronicles <span class="chapter"></span></a>
			<a href="#reference=2 Chronicles:1" data-chapters="36">2 Chronicles <span class="chapter"></span></a>
			<a href="#reference=Ezra:1" data-chapters="10">Ezra <span class="chapter"></span></a>
			<a href="#reference=Nehemiah:1" data-chapters="13">Nehemiah <span class="chapter"></span></a>
			<a href="#reference=Esther:1" data-chapters="10">Esther <span class="chapter"></span></a>
			<a href="#reference=Job:1" data-chapters="42">Job <span class="chapter"></span></a>
			<a href="#reference=Psalm:1" data-chapters="150">Psalm <span class="chapter"></span></a>
			<a href="#reference=Proverbs:1" data-chapters="31">Proverbs <span class="chapter"></span></a>
			<a href="#reference=Ecclesiastes:1" data-chapters="12">Ecclesiastes <span class="chapter"></span></a>
			<a href="#reference=Song of Songs:1" data-chapters="8">Song of Songs <span class="chapter"></span></a>
			<a href="#reference=Isaiah:1" data-chapters="66">Isaiah <span class="chapter"></span></a>
			<a href="#reference=Jeremiah:1" data-chapters="52">Jeremiah <span class="chapter"></span></a>
			<a href="#reference=Lamentations:1" data-chapters="4">Lamentations <span class="chapter"></span></a>
			<a href="#reference=Ezekiel:1" data-chapters="48">Ezekiel <span class="chapter"></span></a>
			<a href="#reference=Daniel:1" data-chapters="12">Daniel <span class="chapter"></span></a>
			<a href="#reference=Hosea:1" data-chapters="14">Hosea <span class="chapter"></span></a>
			<a href="#reference=Joel:1" data-chapters="3">Joel <span class="chapter"></span></a>
			<a href="#reference=Amos:1" data-chapters="9">Amos <span class="chapter"></span></a>
			<a href="#reference=Obadiah:1">Obadiah</a>
			<a href="#reference=Jonah:1" data-chapters="4">Jonah <span class="chapter"></span></a>
			<a href="#reference=Micah:1" data-chapters="7">Micah <span class="chapter"></span></a>
			<a href="#reference=Nahum:1" data-chapters="3">Nahum <span class="chapter"></span></a>
			<a href="#reference=Habakkuk:1" data-chapters="3">Habakkuk <span class="chapter"></span></a>
			<a href="#reference=Zephaniah:1" data-chapters="3">Zephaniah <span class="chapter"></span></a>
			<a href="#reference=Haggai:1" data-chapters="2">Haggai <span class="chapter"></span></a>
			<a href="#reference=Zechariah:1" data-chapters="14">Zechariah <span class="chapter"></span></a>
			<a href="#reference=Malachi:1" data-chapters="4">Malachi <span class="chapter"></span></a>
			<a href="#reference=Matthew:1" data-chapters="28">Matthew <span class="chapter"></span></a>
			<a href="#reference=Mark:1" data-chapters="16">Mark <span class="chapter"></span></a>
			<a href="#reference=Luke:1" data-chapters="24">Luke <span class="chapter"></span></a>
			<a href="#reference=John:1" data-chapters="21">John <span class="chapter"></span></a>
			<a href="#reference=Acts:1" data-chapters="28">Acts <span class="chapter"></span></a>
			<a href="#reference=Romans:1" data-chapters="16">Romans <span class="chapter"></span></a>
			<a href="#reference=1 Corinthians:1" data-chapters="16">1 Corinthians <span class="chapter"></span></a>
			<a href="#reference=2 Corinthians:1" data-chapters="13">2 Corinthians <span class="chapter"></span></a>
			<a href="#reference=Galatians:1" data-chapters="6">Galatians <span class="chapter"></span></a>
			<a href="#reference=Ephesians:1" data-chapters="6">Ephesians <span class="chapter"></span></a>
			<a href="#reference=Philippians:1" data-chapters="4">Philippians <span class="chapter"></span></a>
			<a href="#reference=Colossians:1" data-chapters="4">Colossians <span class="chapter"></span></a>
			<a href="#reference=1 Thessalonians:1" data-chapters="5">1 Thessalonians <span class="chapter"></span></a>
			<a href="#reference=2 Thessalonians:1" data-chapters="3">2 Thessalonians <span class="chapter"></span></a>
			<a href="#reference=1 Timothy:1" data-chapters="6">1 Timothy <span class="chapter"></span></a>
			<a href="#reference=2 Timothy:1" data-chapters="4">2 Timothy <span class="chapter"></span></a>
			<a href="#reference=Titus:1" data-chapters="3">Titus <span class="chapter"></span></a>
			<a href="#reference=Philemon:1">Philemon</span></a>
			<a href="#reference=Hebrews:1" data-chapters="13">Hebrews <span class="chapter"></span></a>
			<a href="#reference=James:1" data-chapters="5">James <span class="chapter"></span></a>
			<a href="#reference=1 Peter:1" data-chapters="5">1 Peter <span class="chapter"></span></a>
			<a href="#reference=2 Peter:1" data-chapters="3">2 Peter <span class="chapter"></span></a>
			<a href="#reference=1 John:1" data-chapters="5">1 John <span class="chapter"></span></a>
			<a href="#reference=2 John:1">2 John</a>
			<a href="#reference=3 John:1">3 John</a>
			<a href="#reference=Jude:1">Jude</a>
			<a href="#reference=Revelation:1" data-chapters="22">Revelation <span class="chapter"></span></a>
			<a href="#" class="randomReference" title="Load random reference">Bibliomancy<span class="icon-die"> </span></a>
		</div>
	</div>

	<div id="helpPanel" class="menu left">
		<a href="#helpPanel" class="link-text open-menu" id="keyCode72" title="help"><span aria-hidden="true" class="icon-question"></span> <span class="link-text">Help</span></a>
		<div class="content">
			<div class="content-padding">
				<h2>Help</h2>
				<p><a href="http://scruffian.wordpress.com/contact/">Having problems?</a></p>

				<ul>
					<li>To find out about a word, click on it</li>
					<li>To search for a word, double click it</li>
				</ul>
				<p>Keyboard shortcuts</p>
				<ul>
					<li>Go to a reference: just start typing</li>
					<li>Next reference: =</li>
					<li>Previous reference: -</li>
					<li>Jump to chapter: just type in a number!</li>
				</ul>
				<p>Built in Chrome. Tested in FireFox.</p>
			</div>
		</div>
	</div>

	<!-- Settings Panel -->
	<div id="settingsPanel" class="menu left">
		<a href="#settingsPanel" class="link-text open-menu" id="keyCode74" title="settings">
			<span aria-hidden="true" class="icon-cog2"></span> <span class="link-text">Settings</span>
		</a>
		<div class="content">
			<div class="content-padding">
				<h2>Settings</h2>
				<form>
					<ul>
						<li>
							<label>Fonts:</label>
							<select name="bodyFontFamily" class="changeStyle">
								<option selected="selected" value="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Helvetica</option>
								<option value="font-family: 'Bookman Old Style' !important;">Bookman</option>
								<option value="font-family: 'Courier New', Courier !important;">Courier</option>
								<option value="font-family: Georgia !important;">Georgia</option>
								<option value="font-family: 'Lucida Sans Unicode', 'Lucida Grande' !important;">Lucida</option>
								<option value="font-family: 'Times New Roman', Times !important;">Times</option>
								<option value="font-family: Verdana, Geneva !important;">Verdana</option>
							</select>
						</li>
						<li>
							<label>Font size:</label>
							<select name="bodyFontSize" class="changeStyle">
								<option value="font-size: 80%;">80%</option>
								<option value="font-size: 90%;">90%</option>
								<option selected="selected" value="font-size: 100%;">100%</option>
								<option value="font-size: 110%;">110%</option>
								<option value="font-size: 120%;">120%</option>
								<option value="font-size: 130%;">130%</option>
								<option value="font-size: 140%;">140%</option>
								<option value="font-size: 150%;">150%</option>
								<option value="font-size: 160%;">160%</option>
								<option value="font-size: 170%;">170%</option>
								<option value="font-size: 180%;">180%</option>
								<option value="font-size: 190%;">190%</option>
								<option value="font-size: 200%;">200%</option>
							</select>
						</li>
						<li>
							<label>Colours:</label>
							<select id="subdueColorBy">
								<option value=".9">Very Bright</option>
								<option value=".75">Bright</option>
								<option value=".5" selected="selected">Normal</option>
								<option value=".3">Dark</option>
								<option value=".2">Very Dark</option>
							</select>
						</li>
						<li>
							<label>Reference picker:</label>
							<select id="referencePicker">
								<option value="input">Typing</option>
								<option value="select">Drop down menu</option>
							</select>
						</li>
						<li>
							<label>Highlight words with:</label>
							<select id="highlightWordsWith">
								<option value="same">Same Strong's number</option>
								<option value="family">Same family</option>
							</select>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>


	<div id="referenceTracking" class="searchPanel menu right">
		<a href="#referenceTracking" id="keyCode83" class="link-text open-menu" title="Search">
			<span aria-hidden="true" class="icon-search"></span> <span class="link-text">Search</span>
		</a>
		<form class="search">
			<ul>
				<li>
					<label for="word" class="has-placeholder">Word</label>
					<input type="text" name="word" id="word" value="" placeholder="Word" />
				</li>
				<li class="advanced">
					<label for="lemma" class="has-placeholder">Strongs number</label>
					<input type="text" name="lemma" id="lemma" value="" placeholder="Strongs number" />
				</li>
				<li class="advanced">
					<label for="morph" class="has-placeholder">Morphology</label>
					<input type="text" name="morph" id="morph" value="" placeholder="Morphology" />
				</li>
				<li class="advanced">
					<label for="language">Language:</label>
					<select name="language" id="language">
						<option selected>kjv</option>
						<option>hebrew</option>
						<option>greek</option>
						<option>web</option>
					</select>
				</li>
				<li class="advanced sentence">
					<label for="clusivity">Look for</label>
					<select name="clusivity" id="clusivity">
						<option value="exclusive" selected>All</option>
						<option value="inclusive">Any</option>
					</select>
					<label for="range">terms in a</label>
					<select name="range" id="range">
						<option>word</option>
						<option selected>verse</option>
						<option>chapter</option>
					</select>
				</li>
				<li class="advanced">
					<label>Strict search</label>
					<input type="checkbox" name="strict" id="strict" />
				</li>
				<li class="advanced">
					<input type="submit" value="Search" />
				</li>
			</ul>
			<a href="#advanced" class="advanced-search">Advanced</a>
		</form>

		<div class="searchResults"></div>
	</div>

	<div id="bookmarksPanel" class="menu right">
		<a href="#bookmarksPanel" class="link-text open-menu" title="help"><span aria-hidden="true" class="icon-bookmark2"></span> <span class="link-text">Bookmarks</span></a>
		<h2><a href="#"><span class="link-text">Bookmarks</span></a><a class="bookmark-current-passage icon-plus"></a></h2>
		<ol class="bookmarks references"></ol>
	</div>
	<script type="text/template" id="bookmark-template">
		<% var reference = { book: book, chapter: chapter, verse: verse }; %>
		<% var link = javascripture.modules.reference.createReferenceLink( reference ); %>
		<a href="#<%= link %>"><%= book %> <%= chapter %>:<%= verse %></a><a href="#" class="icon-cross remove" aria-hidden="true"></a>;
	</script>


</div>

<div id="cache-popup" class="popup">
	<div class="content">
		<a aria-hidden="true" class="icon-cross close-popup"></a>
		<div class="content-padding">
			<h2>New version</h2>
			<p>A new version of JavaScripture is available. <a href="javascript:window.location.reload();">Reload to install</a></p>
		</div>
	</div>
</div>
<div class="wordControlPanelTemplate content">
	<div class="content-padding">
		<style></style>
		<div class="word-details">
			<span class="wordControlPanelStrongsNumber"></span> | <span class="wordControlPanelEnglish"></span> | <span class="wordControlPanelLemma"></span> | <span class="wordControlPanelTransliteration"></span> | <span class="wordControlPanelPronounciation"></span>
			<div class="word-tree" id="wordTreeRoots"></div>
			<div class="word-tree" id="wordTreeBranches"></div>
			<div class="word-tree" id="wordTreeFamily"></div>
		</div>
		<div class="definitions">
			<strong>KJV Usage:</strong> <span class="wordControlPanelKJVDef"></span><br />
			<strong>Strongs Definition:</strong> <span class="wordControlPanelStrongsDef"></span><br />
			<strong>Derivation:</strong> <span class="wordControlPanelDerivation"></span><br />
			<strong>Morphology:</strong> <span class="wordControlPanelMorphology"></span><br />
		</div>
	</div>
</div>

<div class="full-page">
	<div id="holder" class="content">
		<div class="logo">
			<svg width="128" height="128" xmlns="http://www.w3.org/2000/svg">
			 <g>
			  <title>Javascripture</title>
			  <g id="svg_10">
			   <path fill="black" d="m127.999985,0.028161l-111.333313,0c-9.204685,0 -16.666673,6.963784 -16.666673,15.553915l0,97.056138c0,8.590668 7.461988,15.554077 16.666673,15.554077l111.333313,0l0,-105.602276c0,0 -9.164078,0 -22.15741,0l0,42.161671l-12.595032,-11.753773l-12.594299,11.753773l0,-42.161671c-27.748608,0 -57.905231,0 -60.65329,0c-7.8703,0 -7.8703,-10.74092 0,-10.74092c4.545073,0 71.127983,0 108.000031,0l0,-11.820934z" id="svg_8"/>
			  </g>
			  <text transform="matrix(0.136985 0 0 0.136985 7.25415 217.045)" font-weight="normal" xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="350" id="svg_2" y="-779.99747" x="432.482218" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" fill="#ffffff">{js}</text>
			 </g>
			</svg>
			<div class="intro">
				<h1>Javascripture</h1>
				<p>JavaScripture is a tool to help you understand the bible better.</p>
			</div>
		</div>
		<div class="button">
			<button id="loadingJavascripture" disabled>Loading</button>
			<script>
				if ( localStorage ) {
					document.write( '<p class="installation-info">Once the scripts have loaded, they will be cached, so the app will work offline.</p>' );
				}
			</script>
		</div>
		<div class="features">
			<p>Features:<p/>
			<ul>
				<li>Interlinear English and Hebrew/Greek</li>
				<li>Search for English, Hebrew or Greek words, Strong's numbers and morphological data (Greek only)</li>
				<li>Additional word information, including Strong's roots and branches</li>
				<li>Cross references</li>
			</ul>
			<a href="http://scruffian.wordpress.com/contact/">Having problems?</a>
		</div>
	</div>
</div>

</body>

<script>
	var javascripture = {
		api: {},
		data: {},
		modules: {}
	};
	var worker = new Worker('workers/worker.js');
</script>

<!-- libs -->
<script src="lib/jquery-2.0.3.min.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/backbone.js"></script>
<script src="lib/backbone.localStorage.js"></script>
<script src="lib/jquery.scrollTo.js"></script>
<script src="lib/jquery.waypoints.js"></script>
<!--<script src="lib/raphael-min.js"></script>
<script src="lib/raphael.pie.js"></script>-->

<!-- data -->
<script src="data/bible.js"></script>
<script src="data/strongs-dictionary.js"></script>
<!--<script src="data/kjvdwyer7.js"></script>
<script src="data/web3.js"></script>-->
<script src="modules/versionSelector.js"></script>
<!--<script src="data/hebrew6.js"></script>-->
<script src="data/strongsObjectWithFamilies.js"></script>
<!--<script src="data/jonah.js"></script>
<script src="data/greek4.js"></script>-->
<script src="data/crossReferences.js"></script>
<script src="data/morphology.js"></script>
<!--<script src="data/literalConsistent.js"></script>-->

<!-- apis
<script src="api/search.js"></script>
<script src="api/reference.js"></script>-->
<script src="api/word.js"></script>

<!--modules -->
<script src="modules/hebrew.js"></script>
<script src="js/colors.js"></script>
<script src="js/events.js"></script>
<!--<script src="modules/disableHover.js"></script>-->
<script src="modules/readingMode.js"></script>
<script src="js/functionalScripts.js"></script>
<script src="modules/translateLiterally.js"></script>
<script src="modules/reference.js"></script>
<script src="modules/bookmarks.js"></script>
<script src="modules/menu.js"></script>

<script src="js/morphologyApi.js"></script>
<script src="modules/search.js"></script>
<script src="modules/wordPanel.js"></script>
<script src="js/loading.js"></script>
<script src="js/popup.js"></script>
<script src="js/toggler.js"></script>
<script src="js/wayPoint.js"></script>
<script src="js/keyboardShortcuts.js"></script>
<script src="js/crossReferences.js"></script>
<script src="js/bookSelect.js"></script>
<script src="js/frequencyAnalysis.js"></script>
<script src="js/randomReference.js"></script>

<script>
	// Check if a new cache is available on page load.
	window.addEventListener('load', function(e) {

		window.applicationCache.addEventListener('updateready', function(e) {
			if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
				// Browser downloaded a new app cache.
				$( '#cache-popup' ).popup( 'open' );
			}
		}, false);
	}, false);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51039438-1', 'javascripture.org');
  ga('send', 'pageview');

</script>
</html>
