@import '../_colors.scss';

.bookControl {
	line-height: 2em;
	padding-left: .5em;
	position: relative;

	&:hover {
		background: $hover;
		color: #000;
	}
}

.go {
	line-height: 2em;
	position: absolute;
		right: 0;
}
