* {border:none;margin:0;padding:0;}
body {color:#000;font-family:Arial, Helvetica, sans-serif; font-size: 0.8em;}

.trans-change.added { font-style: italic;}
#current {background: #eee;}
div#tabs {float:left}
select {font-size:0.8em;}
select option {padding: 0 0 0 3px;}
.selects{overflow:hidden;}
.selects select,ul {float:left;}
.selects select{height:100%;}
ul li.current {background:#cceeff;}
.panel .heading {height:10%;}
.verse {color: #000;}
.verse .added {color:#ccc;}
.verse {height:90%; line-height:1.4em; overflow:auto; padding: 0 0 0 10px;}
/*.verse h1 {background:#fff;position:fixed; top:0; width:100%;}*/
.verse span {margin: 0 -2px; padding: 0 2px; position: relative; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;}
.verse span:hover {
	background:#666;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(50,50,50)),
        color-stop(1, rgb(100,100,100))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(50,50,50) 0%,
        rgb(100,100,100) 100%
    );
	-moz-border-radius: 0;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	color: #fff;
    box-shadow: 10px 10px 5px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    -moz-box-shadow: 1px 1px 2px #000;
}
div.verse ol li {list-style-position: inside;}
.dynamic option{display:none}
.dynamic option.show{display:block}
.selectWrapper {position:absolute;left:0;top:0;}
.selectWrapper select {border-bottom:1px solid #000;}
ul.bookSelect {margin:0 0 0 5px; width:96px}
ul.chapterSelect {margin:0 0 0 5px; width:34px;}
ul.verseSelect {margin:0 0 0 5px; width:35px;}
.yahweh {text-transform:uppercase;}
.selects, .details {float:left; width: 147px;}
.panel {border-right:1px solid #666; height:100%;overflow:auto; position:relative;}
.selects{overflow:hidden;width:auto;}
.panel .heading {font-size: 2em; text-align: center;}
.panel .heading select {position:relative;z-index:1;}
form {overflow:auto;padding:10px;}
form ul li {list-style:none;}
form label {float:left;}
form input, form select {border:1px solid #999; margin: 0 10px 10px 0; width: 90px;}
form input[type=checkbox]{width:20px;}
input#search {margin:0;}
#references {clear:both; padding:0 10px;}
#references ol li {list-style-position: inside;}
#strongsTracking {float:right; width: 77px; }
#strongsTracking ul {float:right;padding: 0 10px 0 0; text-align:right;}
#strongsTracking li {list-style:none; padding: 7px 0; position:relative;}
#strongsTracking a {padding:3px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-decoration:none;}
#strongsTracking .close {background:#999;color:#fff;-moz-border-radius:5px;display:none;line-height:13px;padding:0;position:absolute;right:-5px;text-align:center;top:0px;width:15px;height:15px;}
#strongsTracking li:hover .close {display:block;}

.collapsable h2 { background:#666 url(arrow.png) no-repeat top right;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(50,50,50)),
		color-stop(.49, rgb(90,90,90)),
		color-stop(.50, rgb(100,100,100)),
        color-stop(1, rgb(150,150,150))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(50,50,50) 0%,
		rgb(90,90,90) 49%,
		rgb(100,100,100) 50%,
        rgb(150,150,150) 100%
    );
	border-bottom: 1px solid #666;
	color:#fff; cursor:pointer; font-size: 1.3em; font-weight:normal; padding:3px 5px;
}
.collapsable.closed h2 { 
	background:#666 url(arrow.png) no-repeat bottom right;
	background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(50,50,50)),
        color-stop(1, rgb(100,100,100))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(140,140,140) 0%,
        rgb(190,190,190) 100%
    );
}
.collapsable.closed form { display:none;}

ul.navigation {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
ul.navigation li, #nextRef, #prevRef {
	background:#666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color:#fff;
	cursor:pointer;
	list-style: none;
	margin: 5px;
	opacity:.8;
	padding: 5px;
	text-decoration: none;
}
#nextRef {
	float:right;	
}
#prevRef {
	float:left;
}
ul.navigation li:hover { opacity:1;}
ul.navigation li.previous{float:left; /*left:0; position:fixed; bottom:0; */}
ul.navigation li.next{float:right; /*right:0; position:fixed; bottom:0; */}
#wordControlPanel {
	display: none;
	position:absolute;
	z-index:999;
}
.control-panel{
	background: rgb(0,0,0);
    box-shadow: 10px 10px 5px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    -moz-box-shadow: 1px 1px 2px #000;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(230,230,230)),
        color-stop(1, rgb(250,250,250))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(150,150,150) 0%,
		rgb(230,230,230) 50%,
        rgb(250,250,250) 100%
    );
	/*border:1px solid #ccc;*/
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow:#000;
	color: #000;
	/*margin: 0 0 30px 0;*/
	padding: 7px;
	text-align:center;
	white-space: nowrap;
}
.control-panel a {
	cursor: pointer;
}

.sticky{
	position:absolute;
	top: -50px;
	left: -50px;
	width: 100px;
	height: 100px;
}
