@import '../colors.scss';

.tray {
	background: rgba( 255, 255, 255, .9 );
	box-shadow: 0 0 5px 0 rgba( 0, 0, 0 , .5 );
	overflow: scroll;
	position: fixed;
		bottom: 3.5em;
		left: 0;
		top: 0;
	width: 320px;
	z-index: 10;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.trayFilter {
	cursor: pointer;
	flex-grow: 1;
	margin: 0;
	padding: 1em 0;
	text-align: center;

	&:hover {
		background: $hover;
	}
}

.active {
	composes: trayFilter;
	background: $active;
}

.help-panel {
	padding: .5em;
}

.settings-li {
	margin-bottom: 1em;

	label {
		display: block;
	}
}
