@import '../colors.scss';
@import '../dimensions.scss';

.trays {
	background: white;
}

.trayList {
	overflow: auto;
	position: absolute;
	top: 40px;
	bottom: 56px;
}

.tray {
	width: 320px;
	z-index: 10;
}

.chapter-tray-padding {
	padding: 0.5em;
}

.chapter-tray {
	display: flex;

	* {
		margin-right: 5px;
	}

	span {
		width: 80px;
	}

	input, select {
		height: auto;
	}

	button {
		width: 100%;

		&[disabled] {
			border: none;
			color: #999;

			&:hover {
				background: #eee;
			}
		}
	}
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.trayFilter {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 14px 0;
	text-align: center;
	width: 16.66%;

	&:hover {
		background: $hover;
	}
}

.active {
	composes: trayFilter;
	background: $active;
}

.help-panel {
	padding: .5em;
}

.settings-li {
	margin-bottom: 1em;

	label {
		display: block;
	}
}

.limit {
	display: inline;
	width: 50px;
}

.scrolling-block {
	max-height: 100px;
	overflow: auto;
}

.sidebar-controls {
	background: #fff;
	box-shadow: 1px 1px 1px 0 rgba( 0, 0, 0, .3 );
	display: flex;
		align-items: center;
		justify-content: space-between;
	height: 39px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 999;
}

.sidebar-icon {
	padding: 0 5px;
}

.sidebarControlsTitle {
	padding-left: 10px;
}

.sidebarControlsInner {
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.sidebarControlsRight {
	padding-right: 10px;
}

.close-with-sidebar-closed {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-top: none;
	box-sizing: border-box;
	height: $dock-height;
	line-height: $dock-height;
	width: $dock-height + 1;
	position: absolute;
	right: - $dock-height - 1;
	text-align: center;
	top: 0;

	svg {
		position: absolute;
		left: 7px;
		top: 6px;
	}
}

.sidebar-select {
	border-bottom: 0;
	border-top: 0;
	border-radius: 0;
	height: $dock-height - 1;
}
