@import '../colors.scss';
@import '../dimensions.scss';

.trayList {
	overflow: auto;
	position: absolute;
	top: $dock-height;
	bottom: $dock-height;
}

.tray {
	width: 320px;
	z-index: 10;
}

.chapter-tray-padding {
	padding: 0.5em;
}

.chapter-tray {
	display: flex;
	font-size: 13px;
	line-height: 30px;

	* {
		margin-right: 5px;
	}

	span {
		width: 80px;
	}

	input, select {

	}

	button {
		width: 100%;

		&[disabled] {
			border: none;
			color: #999;

			&:hover {
				background: #eee;
			}
		}
	}
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.trayFilter {
	border: 1px solid var(--mid);
	border-right: 0;
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 14px 0;
	text-align: center;
	width: 16.66%;
	height: $dock-height;

	&:hover {
		background: var(--background);
	}

	svg {
		fill: var(--color);
	}
}

.active {
	composes: trayFilter;
	background: var(--background);
}

.help-panel {
	padding: .5em;
}

.settings-li {
	margin-bottom: 1em;

	label {
		display: block;
	}
}

.limit {
	display: inline;
	height: 30px;
	width: 50px;
}

.scrolling-block {
	max-height: 100px;
	overflow: auto;
}

.sidebar-controls {
	background: var(--background-ui);
	border-bottom: 1px solid var(--mid);
	display: flex;
		align-items: center;
		justify-content: space-between;
	height: $dock-height - 1;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 999;

	svg {
		fill: var(--color);
	}
}

.sidebar-icon {
	padding: 0 5px;
}

.sidebarControlsTitle {
	padding-left: 10px;
}

.sidebarControlsInner {
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.sidebar-controls-right-outer {
	display: flex;
}
