@import '../colors.scss';

.cross-references {
	border-top: 1px solid #ccc;
	padding: 1em;

	a {
		color: black;
	}
}

.title {
	font-family: 'Helvetica Neue';
	font-size: 1.4em;
	font-weight: 100;
	letter-spacing: .02em;
}

.cross-references-list {
	list-style: none;
	margin-bottom: 1em;

	a {
		display: block;
		line-height: 1.4;
		padding: 0 .5em;
		text-decoration: none;
		&:hover {
			background: $hover;
		}
	}
}