@import '../colors.scss';

.cross-references {
	border-top: 1px solid #ccc;

	a {
		color: black;
		text-decoration: underline;
	}

	p {
		padding: 0 20px;
	}
}

.title {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	letter-spacing: .02em;
	padding: 20px 20px 0 20px;
}

.cross-references-list {
	list-style: none;

	a {
		display: block;
		line-height: 1.4;
		padding: 0 20px;
		text-decoration: none;
		&:hover {
			background: $hover;
		}
	}
}