.dock {
	position: fixed;
	width: 100%;
	z-index: 9;

	@media ( min-width: 768px ) {
		margin-left: 320px;
		width: calc( 100% - 320px );
	}

	button {
		cursor: pointer;
		border-radius: 0;
		border-left: 0;
	}

	button:first-child {
		border-left: 1px solid rgba(0, 0, 0, 0.3);
	}

	input {
		flez-grow: 1;
		width: 10px;
	}

}

.dock-version-selectors {
	display: flex;
	justify-content: center;
}
