.dock {
	position: fixed;
	text-align: center;
	top: 5px;
	width: 100%;
	z-index: 9;

	@media ( min-width: 768px ) {
		margin-left: 320px;
		width: calc( 100% - 320px );
	}
}

.dock-version-selectors {
	display: flex;
	justify-content: center;
}

.sync-button {
	position: absolute;
	right: 10px;
	top: 0;
}
