.version-selector {
	display: flex;
}

.version-selector-flexible {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	margin-right: -1px;
	max-width: 520px;
}

.form-field, .left-version, .right-version {
	box-sizing: border-box;
	flex-grow: 1;

}

.right-version {
	border-radius: 0;
}

.inputWrapper {
	display: flex;
	flex-grow: 4;
	height: 20px;
	position: relative;
}

.input {
	border-radius: 0;
	border-right: 0;
	flex-grow: 1;
}

.left-version, .right-version, .input {
	@media ( max-width: 399px ) {
		border-top: 0;
		border-radius: 0;
	}
}
