.reference-wrapper {
	margin-left: 0;
	transition: margin 200ms;
}

.reference-wrapper-sidebar-open {
	@media ( min-width: 960px ) {
		margin-left: 320px;
		transition: margin 200ms;
	}
}

.reference-wrapper-inner {
	display: flex;
	justify-content: center;
}
