.header {
	background: #eee;
	border-bottom: 1px solid #ccc;

	a {
		display: inline-block;
		line-height: 30px;
	}
}

.open {
	cursor: zoom-out;
}

.closed {
	cursor: zoom-in;
}

.content {
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.visible {
	height: auto;
	padding: .7em;
}

.hidden {
	height: 0;
}
