@import '../colors.scss';

.collapsible {
	a {
		text-decoration: none;
	}
}

.header {
	background: $grey-dark;
	color: #fff;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0 !important;
	position: relative;

	div {
		display: flex;
		justify-content: space-between;
		padding: 5px;
	}

	a {
		color: #fff;
		display: inline-block;
	}

	svg {
		fill: #fff;
		vertical-align: middle;

		&:hover [fill] {
			fill: $hover;
		}
	}

	.icons {
		align-self: center;
	}

}

.open {
	cursor: zoom-out;
}

.closed {
	cursor: zoom-in;
}

.content {
	border-bottom: 1px solid #ccc;
	overflow: hidden;

	ol {
		line-height: 1.4;
		list-style: none;

		a {
			display: block;
			text-decoration: none;

			&:hover {
				background: var(--hover);
			}
		}
	}
}

.visible {
	height: auto;
	padding: .7em;
}

.hidden {
	height: 0;
}
