.header {
	background: #eee;
	border-bottom: 1px solid #ccc;

	a {
		display: inline-block;
		line-height: 30px;
	}
}

.open {
	cursor: zoom-out;
}

.closed {
	cursor: zoom-in;
}

.content {
	border-bottom: 1px solid #ccc;
	padding: .7em;
}
