/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@font-face {
      font-family: "Fontin-Sans";
      src: url(fontin-sans.otf) format("opentype");
}
body {
    background: #000 url(images/black.png);
    color: #fff;
    font: 300 100.1% Fontin-Sans, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#copy {
    bottom: 0;
    font: 300 .7em Fontin-Sans, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}
