@import './colors.scss';

.root {
	background: #fff;
	position: relative;

	/*@media ( prefers-color-scheme: dark ) {
		background: #000;
		color: #fff;
	}*/

	input[type=submit],
	button {
		&:hover {
			background: $hover;
		}
	}
}
