@import '../_colors.scss';

.search {
	fieldset {
		margin: 5px;
		position: relative;
	}

	select {
		height: 1em;
		line-height: 1em;
	}
}

.picker-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.header {
	background: darken( grey, 20);
	border-bottom: 1px solid white;
	color: white;
	padding: .2em;
	position: relative;
}

.remove {
	cursor: pointer;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
}

.results {
	line-height: 1.4;
	list-style: none;

	li {
		padding-left: .5em;
	}
	a {
		color: black;
		display: block;
		text-decoration: none;

		&:hover {
			background: $hover;
		}
	}
}

.hidden {
	display: none;
}

.no-results {
	padding: .5em;
}

.active-reference {
	background: $active;
}

$trayWidth: 320px;
$width: 70px;
$padding: 10px;
a.clear-all {
	background: $hover;
	color: #666;
	display: block;
	padding: $padding;
	position: fixed;
	bottom: 55px;
	left: $trayWidth - $width - $padding * 2;
	cursor: pointer;
	text-align: right;
	text-decoration: none;
	width: $width;
}

.advanced {
	cursor: pointer;
	text-align: right;
	a {
		color: #aaa;
	}
}

.verse {
	font-size: 12px;
}
