.header {
	background: darken( grey, 20);
	border-bottom: 1px solid white;
	color: white;
	padding: .2em;
	position: relative;
}

.remove {
	cursor: pointer;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
}

.results {
	line-height: 1.4;
	list-style: none;

	li {
		padding-left: .5em;
	}
	a {
		color: black;
		display: inline-block;
		text-decoration: none;
	}
}

.hidden {
	display: none;
}

.no-results {
	padding: .5em;
}

.active-reference {
	background: lighten( lightblue, 10 );
}

$trayWidth: 320px;
$width: 70px;
$padding: 10px;
a.clear-all {
    background: lightblue;
    color: #fff;
    display: block;
    padding: $padding;
    position: fixed;
    bottom: 55px;
    left: $trayWidth - $width - $padding * 2;
    cursor: pointer;
    text-align: right;
    text-decoration: none;
    width: $width;
}
