@import '../_dimensions.scss';

.version-selector {
	display: flex;
}

.version-selector-flexible {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	margin-right: -1px;
}

.form-field {
	box-sizing: border-box;
	flex-grow: 1;
}

.right-version {
	border-radius: 0;
}

.versionButton {
	text-transform: uppercase;
}

.left-version, .right-version {
	font-size: .8em;
	position: relative;
	@media ( min-width: 599px ) {
		font-size: 1.2em;
	}

}

.left-version, .right-version, .input {
	@media ( max-width: 399px ) {
		border-top: 0;
		border-radius: 0;
	}
}

.version-selector-input {
	flex-grow: 1;
}

.input {
	border-right: none;
	font-size: 1.2em;
	text-overflow: clip;
}
