@import '../dimensions.scss';
@import '../colors.scss';

.sidebar-select {
	border: 1px solid$grey;
	border-radius: 0;
	height: $dock-height;
	max-width: 60px;

	@media ( min-width: 599px ) {
		font-size: 1.2em;
	}
}
