@import '../_dimensions.scss';
@import '../_colors.scss';

.reference {
	height: calc( 100vh );
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;

	&.is-not-sync {
		max-width: $total-column-width;
	}
}

.single-reference {
	display: flex;
	line-height: 140%;
	justify-content: center;
	position: relative;
}

.headingSync, .heading {
	cursor: pointer;
	flex-basis: 0;
	flex-grow: 1;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	max-width: $column-width;
	padding: 10px 0;
	text-align: center;
}

.chapter-column {
	display: flex;
	justify-content: center;
}

.verseWrapper {
	padding: 0 $column-padding / 2;
	position: relative;
	flex-basis: 0;
	flex-grow: 1;
	max-width: $column-width;
	display: flex;

	.verseNumber {
		color: #999;
	}

	&:hover {
		z-index: 1;
		.hidden {
			visibility: visible;
		}

		.verseNumber {
			color: #fff;
		}
	}
}

.verse {
	flex-basis: 0;
	flex-grow: 1;
}

.hebrew {
	font-family: 'Times New Roman', Times, serif;
	font-size: 140%;
	line-height: 1em;
	vertical-align: middle;
}

.farsi {
	font-size: 120%;
	vertical-align: middle;
}

.helpers {
	cursor: pointer;
	flex-basis: 0;
	flex-grow: 1;
	max-width: $column-padding;
	position: relative;
	width: $column-padding;
}

.hidden {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	position: absolute;
	left: 3px;
	top: 28px;
	visibility: hidden;
}

.chapter {
	margin: 0 auto;
}

.verseNumber {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	width: $column-padding;

	span:hover {
		color: $hover;
	}
}

.verseNumberIcon {
	position: absolute;
	top: -3px;
	left: -3px;
	z-index: -1;
	svg {
		width: 36px;
		height: 36px;
	}
}

.placeholder {
	background: #eee;
	font-size: .8em;
	display: block;
	margin: .4em 0 .5em 0;
}
