@import '../_dimensions.scss';

.reference {
	height: calc( 100vh - 56px );
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;

	&.is-not-sync {
		max-width: $total-column-width;
	}
}

.single-reference {
	display: flex;
	line-height: 140%;
	justify-content: center;
	position: relative;

	&:hover {
		.bookmarker {
			visibility: visible;
		}
	}
}

.heading {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	margin: 0 auto;
	max-width: $column-width;
	padding: 10px 0;
	text-align: center;
}

.verseWrapper {
	color: #bbb;
	padding: 0 $column-padding;
	flex-basis: 0;
	flex-grow: 1;
	max-width: $column-width;
}

.verse {
	color: black;
}

.bookmarker {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 20px;
	visibility: hidden;
}

.chapter {
	margin: 0 auto;
}

.verseNumber {
	cursor: pointer;
}

.single, .select-single {
	margin: 0 -1px;
	padding: 0 1px;
}

.single:hover {
	cursor: pointer;
}

.select-single:hover {
	cursor: crosshair;
}
