@import '../_dimensions.scss';
@import '../_colors.scss';

.reference {
	height: calc( 100vh - 56px );
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;

	&.is-not-sync {
		max-width: $total-column-width;
	}
}

.single-reference {
	display: flex;
	line-height: 140%;
	justify-content: center;
	position: relative;
}

.headingSync, .heading {
	cursor: pointer;
	flex-basis: 0;
	flex-grow: 1;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	max-width: $column-width;
	padding: 10px 0;
	text-align: center;
}

.chapter-column {
	display: flex;
	justify-content: center;
}

.verseWrapper {
	color: #999;
	padding: 0 $column-padding / 2;
	position: relative;
	flex-basis: 0;
	flex-grow: 1;
	max-width: $column-width;
	display: flex;

	&:hover {
		z-index: 1;
		.hidden {
			visibility: visible;
		}
	}
}

.verse {
	color: black;
	flex-basis: 0;
	flex-grow: 1;
}

.hebrew {
	font-family: 'Times New Roman', Times, serif;
	font-size: 140%;
	line-height: 1em;
	vertical-align: middle;
}

.farsi {
	font-size: 120%;
	line-height: .9em;
	vertical-align: middle;
}

.helpers {
	cursor: pointer;
	flex-basis: 0;
	flex-grow: 1;
	max-width: $column-padding;
	width: $column-padding;

	svg:hover [fill] {
		fill: $text-hover;
	}
}

.hidden {
	background-color: white;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 20px;
	visibility: hidden;
}

.chapter {
	margin: 0 auto;
}

.verseNumber {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: $column-padding;

	&:hover {
		color: $text-hover;
	}
}

.placeholder {
	background: #eee;
	font-size: .8em;
	display: block;
	margin: .4em 0 .5em 0;
}
