.reference {
	height: calc( 100vh - 56px );
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}

.single-reference {
	display: flex;
	line-height: 140%;
	justify-content: center;
	position: relative;

	&:hover {
		.bookmarker {
			visibility: visible;
		}
	}
}

.heading {
	font-family: 'Helvetica Neue';
	font-weight: 100;
	padding: 10px 0;
	text-align: center;
}

.verseWrapper {
	color: #bbb;
	padding: 0 20px;
	flex-basis: 50%;
	flex-grow: 2;
	max-width: 480px;
}

.verse {
	color: black;
}

.bookmarker {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 20px;
	visibility: hidden;
}

.chapter {
	margin: 0 auto;
}

.verseNumber {
	cursor: pointer;
}
